.Content {
    background-color: black;
    overflow: auto;
    padding: 25px 25px 25px 25px;
}

.Title {
    color: white;
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    .Content {
        padding: 0;
    }
}
