.SearchBar {
    float: left;
}

.ActivePurple input {
    outline: none;
    background-color: rgb(85, 85, 85);
    color: white;
    border-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;

}

.ActivePurple input:focus {
    border: 2px solid #c466d4;
    box-shadow: 0 0 0 1px #c466d4;
    background-color: black;
}

.Icon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.Icon:hover path:nth-child(1) {
    fill: grey;
}

.IconContainer {
    display: inline-block;
}
.SearchItemContainer {
    position: absolute;
    z-index: 1;
    width: 190px;
    border-radius: 5px;
    background-color: gray;
    margin-top: 5px;
}

.SearchItem {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Container {
    display: flex;
    align-items: center;
}

.Container:hover {
    background: #c466d4;
    cursor: pointer;
}

.ImageChannel {
    border-radius: 50%;
    margin: 10px;
}

.ImageCategory {
    margin: 10px;
}
