.Container {
    display: flex;
    align-items: center;
}

.Container:hover {
    background: rgba(160, 160, 160, 0.178);
    cursor: pointer;
}

.Title {
    color: white;
}

@media screen and (max-width: 600px) {
    .Title {
        display: none;
    }
}

.Image {
    border-radius: 50%;
    color: white;
    margin: 10px;
}
