.Info {
    color: white;
}

.Content {
    width: 70%;
}

.Main {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .Content {
        width: 100%;
    }

    .Main {
        flex-flow: column;


    }
}
