.Details {
    display: flex;
    align-items: center;
}

.ChannelName {
    margin: 0;
    padding-left: 10px;
    height: 20px;
    color: white;
}

.ChannelName:hover {
    color: #c466d4;
    cursor: pointer;
}