
.Content {
    padding: 0 0 0 25px;
    background-color: black;
    overflow: auto;
}
.Header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Image {
    margin-right: 20px;
}

.Title {
    color: white;
    padding-right: 20px;
}