.Content {
    background-color: black;
    overflow: auto;
    padding: 0 25px 0 25px;
}

@media screen and (max-width: 600px) {
    .Content {
        padding: 0;
    }
}

.Title {
    color: white;
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
}


.List {
    padding: 10px 0 10px 0;
}
