
.MainContainer {
    width: 320px;
    padding-right: 20px; 
}

.Details {
    display: flex;
}

.ChannelName {
    margin: 0;
    height: 20px;
    color: white;
}

.ChannelName:hover {
    color: #c466d4;
    cursor: pointer;
}