
.Title {
    color: blue;
    text-align: center;
}

.Main {
    display: flex;
}
.ChannelsPanel {
    width: 20%;
}

.Content {
    width: 80%;
}

@media screen and (max-width: 600px) {
    .ChannelsPanel {
        width: 50px;
    }

    .Content {
        flex-grow: 1;
    }
}
