.Container {
    background-color: #333;
    height: 100%;
}

.Title {
    color: white;
    margin: 0;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .Title {
        display: none;
    }
}
