.Content {
    background-color: black;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    width: 30%;
    flex: 1 1 auto;
}

.Title {
    padding: 15px;
    color: white;
    margin-bottom: 0px;
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border: 1px solid black;
    flex: 0 1 auto;
}


@media screen and (max-width: 600px) {
    .Title {
        display: none;
    }
    .Content {
        width: 100%;
    }

}
