.List {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
}

.Icon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.Icon:hover path:nth-child(1) {
    fill: grey;
}